*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

:root{
  /* font */
  ---Montserrat: 'Montserrat', sans-serif;
  ---Vollkorn: 'Vollkorn', serif;
  ---Source: "Source Sans Pro", sans-serif;

  /* colors */
  ---navHover: #e3e3e3;
  ---main: #333333
  ---secondary: #5c5c5c
}

.App{
  min-height:1000rem;
  border: 1px solid;
  padding: 1rem 1rem;
}

.header{
  height: 100%;
 
}